<h1>Home</h1>
<p>Welcome to the Tufts Art Gallery administration system. You can make changes to the database using the links on the right. If you area a super-user, you can also add admins.</p>
<style type="text/css">
  div#navbar a:first-child{
    background-color:#CEF6F5;
}
</style>
