<h1>Editing exhibition</h1>

<%= render 'form' %>

<%= link_to 'Show', @exhibition %> |
<%= link_to 'Back', exhibitions_path %>
<style type="text/css">
  div#navbar a:nth-child(4){
    background-color:#CEF6F5;
}
</style>
